{% load static %}
{% load usertags %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="{% url 'items:items-home' %}"><img src="{% static 'items/images/agh_logo.jpg' %}" height=50px></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="{% url 'items:items-home' %}">Home</a>
          <a class="nav-item nav-link" href="{% url 'items:items-list' %}">Items</a>
          <a class="nav-item nav-link" href="{% url 'items:rents-list' %}">Rents</a>
          {% if request.user|has_group:"admin"%}
            <a class="nav-item nav-link" href="/admin">Admin Panel</a>
            <a class="nav-item nav-link" href="/api/items/">API-items</a>
            <a class="nav-item nav-link" href="/api/rents/">API-rents</a>
            <a class="nav-item nav-link" href="/api/users/">API-users</a>
          {% endif %}
          {% if request.user|has_group:"Teacher"%}
            <a class="nav-item nav-link" href="/api/info/">API</a>
            <a class="nav-item nav-link" href="/api/students/">API-Students</a>
          {%endif%}
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">
          {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'items:items-user' %}">My Items</a>
            <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
          {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
          {% endif %}
        </div>
      </div>
    </div>
</nav>

