{% extends 'items/base.html' %}

{% block content %}
<table class="table table-sm">
    <thead>
        <h3> All active rents</h3>
        <th class="col-1">id</th>
        <th class="col-1">Item</th>
        <th class="col-1">User</th>
        <th class="col-2">Rent Date</th>
        <th class="col-2">Return Date</th>
        <th class="col-1"></th>
    </thead>
    <tbody>
        {% for rent in rents.active %}
        <tr>
            <td>{{rent.pk}}</td>
            <td><a href="{% url 'items:items-detail' rent.item_id %}">{{rent.item_id}}</a></td>
            <td>{{rent.user_id}}</td>
            <td>{{rent.rent_date}}</td>
            <td>{{rent.return_date}}</td>
            <td>
                {% if  rents.teacher_permission%}
                <input class="btn btn-primary" type="button" value="Update" onclick="location.href='{% url 'items:rents-update' rent.id %}'"/>
                {% endif %}      
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if  rents.teacher_permission%}
    <p>Add new rent? <input class="btn btn-success" type="button" value="Create"onclick="location.href='{% url 'items:rents-create' %}'"/> </p>
    {% endif %}

<table class="table table-sm">
    <thead>
        <h3> Archive</h3>
        <th class="col-1">id</th>
        <th class="col-1">Item</th>
        <th class="col-1">User</th>
        <th class="col-2">Rent Date</th>
        <th class="col-2">Return Date</th>
    </thead>
    <tbody>
        {% for rent in rents.archived %}
            <td>{{rent.pk}}</td>
            <td><a href="{% url 'items:items-detail' rent.item_id %}">{{rent.item_id}}</a></td>
            <td>{{rent.user_id}}</td>
            <td>{{rent.rent_date}}</td>
            <td>{{rent.return_date}}</td>
        {% endfor %}
    </tbody>
</table>

{% endblock content%}